@import '../_vars/vars';
@import '../_mixins/mixins';

.our {
  max-width: 100%;
  background-color: $slider-back;
  background-size: 100%;

  .container {
    text-align: center;
    padding-top: 80px;
    padding-bottom: 95px;
  }

  &__title {
    margin: $aut;
    margin-bottom: $six;
    max-width: 400px;
    @include main();
    letter-spacing: 2px;
  }

  .slider {
    position: relative;
    max-width: 990px;
    margin: $aut;
    margin-bottom: $six;
    overflow: hidden;

    &__list {
      display: $flx;
      margin-right: 53px;
      padding-left: 53px;
      transition: all 0.3s ease-in-out;

      &__item:not(:last-child) {
        margin-right: 90px;
      }

      &__item {
        max-width: $card;
        display: $flx !important;
        flex-direction: $col;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: all .3s ease-in-out;

        &:hover {
          transform: scale(1.1);
        }

        &__card {
          max-width: $card;
          min-height: 435px;
          background-color: $fa;
          border-top-right-radius: $radius;
          border-top-left-radius: $radius;
          text-align: center;
          transition: all .3s ease-in-out;

          &:hover {
            background-color: #F4F2F2;
            box-shadow: 1px 1px 3px $grey;
          }

          &__pic {
            &__img {
            margin-bottom: $mid;
            @media (max-width: 768px) {
                margin-bottom: 25px;
              }
            }
          }

          &__name {
            margin-bottom: $mid;
            @include temp();
          }

          &__link {
            display: inline-block;
            padding: $pad;
            max-width: 187px;
            border-radius: $hund;
            border: 1px solid $primary;
            cursor: pointer;
            transition: all .3s ease-in-out;
            @include basic;
            font-family: $geo;
            font-size: 17px;
            line-height: 22px;
            color: $black;
          }

          &__link:hover {
            background-color: $hov;
          }

          &__link:active {
            background-color: $primary;
          }
        }
      }
    }

    &__prev,
    &__next {
      position: absolute;
      top: 45%;
      transition: all .3s ease-in-out;
    }

    &__next:hover {
      cursor: pointer;
      background-color: $hov;
      border-radius: $hund;
    }

    &__next:active {
      background-color: $primary;
    }

    /* disabled */
    &__prev {
      left: -53px;
    }

    &__next {
      right: -53px;
    }

    &__arrow {
      display: $flx;
      justify-content: center;
      align-items: center;
      width: 52px;
      height: 52px;
      border: 1px solid $primary;
      border-radius: $half;
    }

    .prev {
      border-color: $grey;
      border-radius: $half;
    }

    &__btn {
      max-width: 245px;
      min-height: 52px;
      background-color: $primary;
    }
  }
}

@media (max-width: 1200px) {
  .our {
    .slider {
      &__list {
        max-width: 900px;
          &__item {
            &:not(:last-child) {
              margin-right: 40px;
            }
          }
        }
  
      &__prev {
        left: -10px;
      }
  
      &__next {
        right: -60px;
      }
    }
  }
}

@media (max-width: 1024px) {
  .our {
    .slider {
      #woody {
        display: none !important;
      }
        
      &__prev {
        left: -10px;
      }
  
      &__next {
        right: 26px;
      }
    }
  }
}

@media (max-width: 768px) {
  .our {
    .container { 
      padding-top: 85px;
    }
    
    &__title {
      letter-spacing: 2px;
    }
  
    &__span {
      display: inline-block;
    }
  
    &__btn {
      padding: 15px 30px;
      background-color: $primary;
      border-radius: $hund;
      transition: all .3s ease-in-out;
      &__link {
        @include temp();
      }
    }

    &__btn:hover {
      background-color: $hov;
    }

    &__btn:active {
      background-color: $primary;
    }

    .slider {
      &__prev,
      &__next {
        top: 44%;
      }
    }
  }
}

@media (max-width: 320px) {
  .our {
    .container {
      padding-top: 42px;
      padding-bottom: 42px;
    }

    &__title {
      @include minimal();
      margin-bottom: 42px;
    }

    .slider {
      margin-bottom: 6.5rem; 
      &__list {
        padding-left: 0;
        margin-right: 0;
        max-width: 290px;
      }

      &__prev,
      &__next {
        position: absolute;
        top: 104%;
      }

      &__prev {
        left: 40px;
      }

      &__next {
        right: 80px;
      }
    }
  }
}


