@use "../normalize.css";
@use '../_vars/vars';
@use '../_mixins/mixins';
@use '../_body/body';
@use '../_nav/nav';
/*@use '../_slider/slider';*/
@use "../_footer/footer";


html {
  scroll-behavior: smooth;
  user-select: none;
}

body {
  background: transparent;
  margin: 0 auto;
}

.header {
  .container {
    display: vars.$flx;
    padding: 30px 40px;
    margin-bottom: 0;
  }

  &__link {
    color: #545454;
    }

  &__txt {
    font-family: vars.$merry;
    @include mixins.basic();
    font-size: 13px;
    color: vars.$black;
    letter-spacing: vars.$one;
  }
}

.nav {
  margin-left: auto;

  &__list {
    display: vars.$flx;

    &__item {
      position: relative;
      transition: all .3s ease-in-out;

      &:not(:last-child) {
        margin-right: 25px;
      }

      &:first-child {
        cursor: pointer;
        &::after {
          opacity: 0;
        }
      }

      &::after {
        content: '';
        position: absolute;
        display: block;
        opacity: 0;
        bottom: -3px;
        right: 0;
        width: 0%;
        height: 3px;
        background-color: vars.$primary;
      }

      &:hover::after {
        opacity: 1;
        width: 100%;
        transition: all .5s ease-in-out;
      }

      &__link {
        font-family: vars.$merry;
        @include mixins.basic();
        line-height: vars.$line;
        font-size: 15px;
        color: vars.$black;
        letter-spacing: vars.$one;
        cursor: pointer;
      }
    }
  }
}

.our {
  max-width: 100%;
  background-color: vars.$slider-back;
  background-size: 100%;

  .container {
    text-align: center;
    padding: 80px 40px 95px;
  }

  &__title {
    margin: vars.$aut;
    margin-bottom: vars.$six;
    max-width: 400px;
    @include mixins.main();
    letter-spacing: 2px;
  }
}

  /* PAGINATION */

.pagination {
  position: relative;
  margin: vars.$aut;
  margin-bottom: 0;
  max-width: 1200px;

  &__list > * {
    min-width: vars.$card;
    overflow-x: hidden;
  }

  &__list {
    margin: 0;
    margin-bottom: 65px;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: vars.$mid;
    column-gap: 40px;

    &__item {
      max-width: vars.$card;
      height: 480px;
      display: vars.$flx !important;
      flex: 00 auto;
      flex-direction: vars.$col;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      border-radius: vars.$radius;
      transition: all .3s ease-in-out;

        &:not(:last-child) {
          margin-right: 0;
        }

        &:hover {
          transform: scale(1.1);
        }

      &__card {
        max-width: vars.$card;
        min-height: 435px;
        background-color: vars.$fa;
        border-radius: vars.$radius;
        text-align: center;
        transition: all .3s ease-in-out;

        &__btn {
          max-width: vars.$full;
        }

        &:hover {
          background-color: #F4F2F2;
          box-shadow: 1px 1px 3px vars.$grey;
        }

        &__pic {
          &__img {
            margin-bottom: vars.$mid;
            max-width: vars.$full;
            border-top-right-radius: vars.$radius;
            border-top-left-radius: vars.$radius;
            /*@media (max-width: 768px) {
              margin-bottom: 25px;
            }*/
          }
        }

        &__name {
          margin-bottom: vars.$mid;
          @include mixins.temp();
          letter-spacing: 1px;
        }
          
        &__link {
          display: inline-block;
          padding: vars.$pad;
          max-width: 187px;
          border-radius: vars.$hund;
          border: 1px solid vars.$primary;
          cursor: pointer;
          transition: all .3s ease-in-out;
          @include mixins.basic;
          font-family: vars.$lora;
          font-size: 17px;
          line-height: 22px;
          color: vars.$black;

          &:hover {
            background-color: vars.$hov;
          }

          &:active {
            background-color: vars.$primary;
          }
        }
      }
    }
  }

  &__controls {
    display: vars.$flx;
    justify-content: vars.$ctr;
  
    &__digit {
      @include mixins.controls();
      @include mixins.temp();
      margin-right: vars.$offset;
      background-color: vars.$primary;
    }

    &__arrow {
      @include mixins.controls();
      border-color: vars.$primary;
      transition: all .3s ease-in-out;
      cursor: pointer;

      &:hover {
        background-color: vars.$hov;
      }

      &:active {
        background-color: vars.$primary;
      }
    }

    &__prev,
    &__next {
      margin-right: 15px;
    }

    &__double-prev {
      margin-right: vars.$offset;
    }

    /* if disabled */

    .disabled,
    .disabled:hover,
    .disabled:active {
      border-color: vars.$grey;
      background-color: transparent;
      cursor: default;
    }

    .disabled svg path {
      fill: vars.$grey;
    }
  }
}
/* end disabled */

/* animate pagination */
.pets__list {
  transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
  opacity: 1;
  transform: translateX(0);
}

.pets__list.fade-out {
  opacity: 0;
  transform: translateX(20px);
}

.footer {
  .container {
    background: 96% 98% no-repeat url('../../assets/img/footer-puppy.png');
  }
}

@media (min-width: 768px) and (max-width: 1220px) {
  .our {
    .pagination {
      &__list {
        grid-template-columns: repeat(2, minmax(vars.$card, 1fr));
      }
    }
  }
}

@media (max-width: 768px) {
  .header {
    .container {
      padding: 30px;
    }
  }

  .body-lock::before {
    @include mixins.lock();
    transition: all .3s ease-in-out;
  }

  .nav__list {
      @include mixins.navList();
      &__item {
        @include mixins.navItem();
        &__link {
          @include mixins.navLink();
        }
      }
    }

  .burger {
    z-index: 2;
    &__line {
      background-color: #545454;
    }
  }

  .burger-active .burger__line {
    background-color: #F1CDB3;
  }

  #menu {
    z-index: 1;
  }

  .our {
    .container {
      padding-bottom: 75px;
    }

    &__title {
      margin-bottom: 30px;
    }

    .pagination {
      &__list {
        #scarlet, 
        #freddie {
          display: none !important;
        }
      }
    }

    .pagination__controls {
      margin-top: -30px;
    }  
  }

  .footer {
    .container {
      padding-top: 35px;
      padding-bottom: 22.4rem;
      justify-content: vars.$ctr;
      background-position: 50% 100%;
    }

    &__left {
      margin-right: 60px;
    }
  }
}

@media (max-width: 320px) {
  .our {
    .container {
      padding: 42px 25px 42px;
    }

    .pagination {
      max-width: 290px;

      &__list {
        grid-template-columns: repeat(1, 1fr);
      }

      &__controls {
        transform: translateX(-11px);

        &__double-prev {
          margin-right: 10px;
        }

        &__prev,
        &__next {
          margin-right: 10px;
        }

        &__digit {
          margin-right: 10px;
        }
      }

      #woody,
      #jennifer {
        display: grid !important;
      }
    }
  }

  .footer {
    .container {
      padding: 30px 35px;
      flex-direction: vars.$col;
      justify-content: flex-start;
      min-height: 57rem;
    }

    &__main {
      @include mixins.minimal();
      margin-bottom: 45px;
    }

    &__left, 
    &__right {
      margin-right: 0;
    }

    &__left {
      margin-bottom: 40px;
    }

    &__right {
      margin-bottom: 30px;
    }
  }
}




  
  
