@import '../_vars/vars';
@import '../_mixins/mixins';

.notonly {
  .container {
    display: $flx;
  }

  &__article {
    margin-bottom: $em;
  }

  &__title {
    margin-bottom: $standart;
    @include main();
    font-size: 44px;
    line-height: 57px;
    color: $white;
  }

  &__txt {
    margin-bottom: $standart;
    max-width: 460px;
    @include basic();
    font-family: $aria;
    line-height: $line;
    color: $grey;
  }

  &__link {
    display: block;
    padding: 15px 45px;
    max-width: fit-content;
    min-height: 52px;
    background-color: $primary;
    border-radius: $hund;
    font-size: 17px;
    line-height: 22px;
    color: $black;
    letter-spacing: 2px;
    transition: all .3s ease-in-out;
  }

  &__link:hover {
    background-color: $hov;
  }

  &__link:active {
    background-color: $primary;
  }

  &__pic {
    position: absolute;
    top: 11.2rem;
    right: 1rem;
  }
}

@media (max-width: 768px) {
  .notonly {
    min-height: 63.7rem;

    .container {
      flex-direction: $col;
    }

    &__article {
      margin-bottom: $hund;
      align-self: $ctr;
    }

    &__link {
      margin: $aut;
    }

    &__pic {
      top: 36rem;
      right: 2rem;
    }
  }
}

@media (max-width: 320px) {
  .notonly {
    min-height: 43.6rem;
    
    &__title {
      text-align: $ctr;
      font-size: 25px;
      line-height: 32px;
    }

    &__txt {
      text-align: $ctr;
      font-size: 15px;
    }
  }
}