@import '../_vars/vars';
@import '../_mixins/mixins';

.nav {
  margin-left: auto;

  &__list {
    display: $flx;

    &__item {
      position: relative;
      transition: all .3s ease-in-out;

      &:not(:last-child) {
        margin-right: 25px;
      }

      &:first-child {
        a {
          cursor: default;
        }

        &::after {
          opacity: 1;
          width: 100%;
        }
      }

      &::after {
        content: '';
        position: absolute;
        display: block;
        opacity: 0;
        bottom: -3px;
        right: 0;
        width: 0%;
        height: 3px;
        background-color: $primary;
      }

      &:hover::after {
        width: 100%;
        opacity: 1;
        transition: all .5s ease-in-out;
      }
      
      &__link {
          font-family: $aria;
          @include basic();
          line-height: $line;
          font-size: 14px;
          color: $white;
          letter-spacing: $one;
          cursor: pointer;
      }
    }
  }
}

@media (max-width: 320px) {
  .nav {
    display: none;
  }
}
