/* margin, padding */
/* reset default values */
/* display values */
/* fonts */
/* colors */
/* block's properties */
/* interactive */
/* basic fonts */
* {
  box-sizing: border-box;
}

h1,
h2,
h4,
h3,
h5,
h6,
p {
  margin: 0px;
}

ul {
  padding: 0px;
}

li {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}

button {
  background: transparent;
  border-style: none;
}

body {
  background-image: linear-gradient(270deg, rgb(33, 31, 32) 0%, rgb(91, 72, 58) 100%, rgb(38, 36, 37) 100%);
  background-repeat: no-repeat;
  background-size: 100% 56.75rem;
  background-position: top center;
  margin: 0 auto;
  overflow-x: hidden;
  overflow-y: auto;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
}

.header .container {
  display: flex;
  padding-top: 30px;
  margin-bottom: 16em;
}
.header__title {
  margin-top: 0;
  margin-bottom: 10px;
}
.header__link {
  display: inline-block;
  margin-right: 30px;
  margin-bottom: 8px;
  font-family: "Lora", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
  color: #F1CDB3;
  letter-spacing: 2px;
}
.header__txt {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  color: #ffffff;
  letter-spacing: 2px;
}

@media (max-width: 1200px) {
  body {
    max-width: 100%;
  }
  .container {
    max-width: 1200px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 100%;
  }
  .header .container {
    padding: 30px;
    margin-bottom: 30px;
  }
  body {
    background-size: 100% 73.1rem;
    max-width: 768px;
  }
  .body-lock::before {
    content: "";
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    backdrop-filter: brightness(70%);
    transition: all 0.3s ease-in-out;
  }
}
@media (prefers-reduced-motion: reduce) {
  .body-lock {
    transition: none;
  }
}
@media (max-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media (max-width: 320px) {
  .container {
    max-width: 320px;
    padding: 0 25px;
  }
  .our .slider__list li:nth-child(n+2) {
    display: none !important;
  }
}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/* margin, padding */
/* reset default values */
/* display values */
/* fonts */
/* colors */
/* block's properties */
/* interactive */
/* basic fonts */
.nav {
  margin-left: auto;
}

.nav__list {
  display: flex;
}

.nav__list__item {
  position: relative;
  transition: all 0.3s ease-in-out;
}

.nav__list__item:not(:last-child) {
  margin-right: 25px;
}

.nav__list__item::after {
  content: "";
  position: absolute;
  display: block;
  opacity: 0;
  bottom: -3px;
  right: 0;
  width: 0%;
  height: 3px;
  background-color: #F1CDB3;
}

.nav__list__item:hover::after {
  width: 100%;
  opacity: 1;
  transition: all 0.5s ease-in-out;
}

.nav__list__item__link {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  font-size: 14px;
  color: #ffffff;
  letter-spacing: 1px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .nav {
    transform: translateX(100%);
    transition: all, 0.3s ease-in-out;
  }
  #menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 320px;
    height: 100vh;
  }
  .open {
    background-color: #292929;
    transition: transform 0.3s ease-in-out;
    will-change: transform;
    overflow-y: auto;
  }
  nav.open {
    transform: translateX(0);
  }
  .nav__list {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
  }
  .nav__list__item {
    width: fit-content;
  }
  .nav__list__item__link {
    font-size: 30px;
    color: #CDCDCD;
    transition: transform 0.3s ease-in-out;
  }
  .burger {
    display: block;
    position: relative;
    margin-left: auto;
    width: 30px;
    height: 22px;
    cursor: pointer;
    transform-origin: 50% 50%;
    transition: all 0.3s ease-in-out;
  }
  .burger__line {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #F1CDB3;
  }
  .burger__line:nth-child(2) {
    top: 50%;
    height: 0.5px;
  }
  .burger__line:last-child {
    top: 100%;
  }
  .burger-active {
    transform: rotate(90deg);
  }
}
@media (prefers-reduced-motion: reduce) {
  .burger,
  #menu {
    transition: none;
  }
}
/* margin, padding */
/* reset default values */
/* display values */
/* fonts */
/* colors */
/* block's properties */
/* interactive */
/* basic fonts */
.notonly .container {
  display: flex;
}

.notonly__article {
  margin-bottom: 15.3em;
}

.notonly__title {
  margin-bottom: 42px;
  font-family: "Lora", serif;
  font-weight: 400;
  font-size: 35px;
  font-style: normal;
  line-height: 45px;
  color: #545454;
  font-size: 44px;
  line-height: 57px;
  color: #ffffff;
}

.notonly__txt {
  margin-bottom: 42px;
  max-width: 460px;
  font-weight: 400;
  font-style: normal;
  font-family: "Merriweather", serif;
  line-height: 24px;
  letter-spacing: 1px;
  color: #cdcdcd;
}

.notonly__link {
  display: block;
  padding: 15px 45px;
  max-width: fit-content;
  min-height: 52px;
  background-color: #F1CDB3;
  border-radius: 100px;
  font-size: 17px;
  line-height: 22px;
  color: #292929;
  letter-spacing: 2px;
  transition: all 0.3s ease-in-out;
}

.notonly__link:hover {
  background-color: #FDDCC4;
}

.notonly__link:active {
  background-color: #F1CDB3;
}

.notonly__pic {
  position: absolute;
  top: 11.2rem;
  right: 1rem;
  z-index: -1;
}

@media (min-width: 769px) and (max-width: 1068px) {
  .notonly__txt {
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.3s;
  }
}
@media (max-width: 768px) {
  .notonly {
    min-height: 63.7rem;
  }
  .notonly .container {
    flex-direction: column;
  }
  .notonly__article {
    margin-bottom: 100px;
    align-self: center;
  }
  .notonly__link {
    margin: 0 auto;
  }
  .notonly__pic {
    top: 36rem;
    right: 2rem;
  }
}
@media (max-width: 320px) {
  .notonly {
    min-height: 43.6rem;
  }
  .notonly__title {
    text-align: center;
    font-size: 25px;
    line-height: 32px;
  }
  .notonly__txt {
    text-align: center;
    font-size: 15px;
  }
}
/* margin, padding */
/* reset default values */
/* display values */
/* fonts */
/* colors */
/* block's properties */
/* interactive */
/* basic fonts */
.about {
  background-color: #ffffff;
  background-size: 110%;
}

.about .container {
  display: flex;
  justify-content: center;
  margin-bottom: 90px;
}

.about__main {
  padding-top: 90px;
  max-width: 360px;
  margin-bottom: 25px;
  font-family: "Lora", serif;
  font-weight: 400;
  font-size: 35px;
  font-style: normal;
  line-height: 45px;
  color: #545454;
  letter-spacing: 2px;
}

.about__pic {
  margin-right: 135px;
  padding-top: 80px;
  transform: translateX(15px);
}

.about__txt {
  margin-bottom: 25px;
  max-width: 430px;
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 1px;
  color: #4C4C4C;
}

@media (max-width: 768px) {
  .about .container {
    flex-direction: column-reverse;
    align-items: center;
  }
  .about__main {
    padding-top: 78px;
  }
  .about__pic {
    margin-top: -25px;
    margin-right: 0;
    transform: translateX(0px);
  }
}
@media (max-width: 320px) {
  .about .container {
    margin-bottom: 42px;
  }
  .about__main {
    text-align: center;
    padding-top: 42px;
    font-size: 25px;
    line-height: 32px;
  }
}
/* margin, padding */
/* reset default values */
/* display values */
/* fonts */
/* colors */
/* block's properties */
/* interactive */
/* basic fonts */
.our {
  max-width: 100%;
  background-color: #F6F6F6;
  background-size: 100%;
}

.our .container {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 95px;
}

.our__title {
  margin: 0 auto;
  margin-bottom: 60px;
  max-width: 400px;
  font-family: "Lora", serif;
  font-weight: 400;
  font-size: 35px;
  font-style: normal;
  line-height: 45px;
  color: #545454;
  letter-spacing: 2px;
}

.our .slider {
  position: relative;
  margin: 0 auto;
  margin-bottom: 60px;
}

.our .slider__carousel {
  margin: 0 auto;
  max-width: 990px;
  overflow: hidden;
}

.our .slider__list {
  display: flex;
  transition: transform 350ms ease;
  will-change: transform;
}

.our .slider__list__item:not(:last-child) {
  margin-right: 80px;
}

.our .slider__list__item {
  max-width: 270px;
  height: 480px;
  display: flex !important;
  flex: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.our .slider__list__item:hover {
  transform: scale(1.1);
}

.our .slider__list__item__card {
  max-width: 270px;
  min-height: 435px;
  background-color: #fafafa;
  border-top-right-radius: 9px;
  border-top-left-radius: 9px;
  text-align: center;
  transition: all 0.3s ease-in-out;
}

.our .slider__list__item__card:hover {
  background-color: #F4F2F2;
  box-shadow: 1px 1px 3px #cdcdcd;
}

.our .slider__list__item__card__pic__img {
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .our .slider__list__item__card__pic__img {
    margin-bottom: 25px;
  }
}
.our .slider__list__item__card__name {
  margin-bottom: 30px;
  font-family: "Lora", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 22px;
  color: #545454;
  letter-spacing: 1px;
}

.our .slider__list__item__card__link {
  display: inline-block;
  padding: 15px 45px;
  max-width: 187px;
  border-radius: 100px;
  border: 1px solid #F1CDB3;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-weight: 400;
  font-style: normal;
  font-family: "Lora", serif;
  font-size: 17px;
  line-height: 22px;
  color: #292929;
}

.our .slider__list__item__card__link:hover {
  background-color: #FDDCC4;
}

.our .slider__list__item__card__link:active {
  background-color: #F1CDB3;
}

.our .slider__prev, .our .slider__next {
  position: absolute;
  top: 45%;
  transition: all 0.3s ease-in-out;
}

.our .slider__prev {
  left: -53px;
}

.our .slider__next {
  right: -53px;
}

.our .slider__prev:hover, .our .slider__next:hover {
  cursor: pointer;
  background-color: #FDDCC4;
  border-radius: 100px;
}

.our .slider__prev:active, .our .slider__next:active {
  background-color: #F1CDB3;
}

.our .slider__arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
  border: 1px solid #F1CDB3;
  border-radius: 50%;
}

.our .slider {
  /* cdcdcd - fill for inactive arrow */
}

.our .slider__btn {
  max-width: 245px;
  min-height: 52px;
  padding: 15px 30px;
  background-color: #F1CDB3;
}

.our .slider .slider__list__item.template {
  display: none;
}

@media (max-width: 1200px) {
  .our .slider__carousel {
    max-width: 900px;
  }
  .our .slider__carousel__list__item:not(:last-child) {
    margin-right: 40px;
  }
  .our .slider__prev {
    left: -10px;
  }
  .our .slider__next {
    right: -60px;
  }
}
@media (max-width: 1024px) {
  .our .slider #woody {
    display: none !important;
  }
  .our .slider__prev {
    left: -10px;
  }
  .our .slider__next {
    right: 26px;
  }
}
@media (max-width: 768px) {
  .our .container {
    padding-top: 85px;
  }
  .our__title {
    letter-spacing: 2px;
  }
  .our__span {
    display: inline-block;
  }
  .our__btn {
    padding: 15px 30px;
    background-color: #F1CDB3;
    border-radius: 100px;
    transition: all 0.3s ease-in-out;
  }
  .our__btn__link {
    font-family: "Lora", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 22px;
    color: #545454;
  }
  .our__btn:hover {
    background-color: #FDDCC4;
  }
  .our__btn:active {
    background-color: #F1CDB3;
  }
  .our .slider__prev, .our .slider__next {
    top: 44%;
  }
}
@media (max-width: 320px) {
  .our .container {
    padding-top: 42px;
    padding-bottom: 42px;
  }
  .our__title {
    text-align: center;
    font-size: 25px;
    line-height: 32px;
    margin-bottom: 42px;
  }
  .our .slider {
    margin-bottom: 6.5rem;
  }
  .our .slider__list {
    padding-left: 0;
    margin-right: 0;
    max-width: 290px;
  }
  .our .slider__prev, .our .slider__next {
    position: absolute;
    top: 104%;
  }
  .our .slider__prev {
    left: 40px;
  }
  .our .slider__next {
    right: 80px;
  }
}
/* margin, padding */
/* reset default values */
/* display values */
/* fonts */
/* colors */
/* block's properties */
/* interactive */
/* basic fonts */
.help .container {
  background-color: #ffffff;
  padding-top: 80px;
  padding-bottom: 40px;
  text-align: center;
}

.help__main {
  margin-bottom: 55px;
  font-family: "Lora", serif;
  font-weight: 400;
  font-size: 35px;
  font-style: normal;
  line-height: 45px;
  color: #545454;
  letter-spacing: 2px;
}

.help__span {
  display: block;
}

.help__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.help__list__item {
  margin-bottom: 58px;
}

.help__list__item:not(:last-child) {
  margin-right: 25px;
}

.help__list__item__img {
  cursor: default;
  margin-bottom: 30px;
}

.help__list__item__title {
  outline: 1px solid transparent;
  outline-offset: 3px;
  border-radius: 3px;
  cursor: default;
  transition: all 0.3s ease-in-out;
  font-family: "Lora", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 22px;
  color: #545454;
  letter-spacing: 1px;
}

.help__list__item__title:hover {
  outline-color: #cdcdcd;
}

.help__list .inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 210px;
  min-height: 113px;
}

@media (max-width: 768px) {
  .help .container {
    display: flex;
    flex-direction: column;
    padding-right: 70px;
    padding-left: 70px;
    padding-bottom: 0;
  }
  .help__list {
    margin-top: 6px;
    max-width: 630px;
    justify-content: space-between;
  }
  .help__list__item:nth-child(3), .help__list__item:nth-child(6) {
    margin-right: 0;
  }
  .help__list__item:nth-last-child(-n+3) {
    margin-bottom: 36px;
  }
  .help__list__item:not(:nth-child(3n)) {
    margin-right: 65px;
  }
  .help__list .inner {
    width: 135px;
  }
}
@media (max-width: 320px) {
  .help .container {
    padding: 42px 15px 15px 42px;
  }
  .help__main {
    text-align: center;
    font-size: 25px;
    line-height: 32px;
  }
  .help__list {
    max-width: 320px;
    justify-content: space-between;
  }
  .help__list .inner {
    width: 100px;
    height: 87px;
  }
  .help__list__item {
    margin-bottom: 30px;
  }
  .help__list__item__title {
    font-size: 15px;
    line-height: 16px;
  }
  .help__list__item__img {
    margin-bottom: 20px;
    width: 50px;
    height: 50px;
  }
  .help__list__item:not(:last-child) {
    margin-right: 30px;
  }
}
/* margin, padding */
/* reset default values */
/* display values */
/* fonts */
/* colors */
/* block's properties */
/* interactive */
/* basic fonts */
.donat {
  max-width: 100%;
  background-color: #F6F6F6;
  background-size: 100%;
}

.donat .container {
  display: flex;
  padding: 70px 0 80px;
  justify-content: center;
  background-color: #F6F6F6;
}

.donat__pic {
  margin-right: 50px;
}

.donat__main {
  margin-bottom: 20px;
  font-family: "Lora", serif;
  font-weight: 400;
  font-size: 35px;
  font-style: normal;
  line-height: 45px;
  color: #545454;
  max-width: 300px;
}

.donat__bank {
  margin-bottom: 20px;
  font-weight: 400;
  font-style: normal;
  font-family: "Lora", serif;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 1px;
}

.donat__digit {
  margin-bottom: 20px;
  display: flex;
  max-width: 349px;
  font-family: "Lora", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 22px;
  color: #545454;
  padding: 10px 15px;
  background-color: #F1CDB3;
  border-radius: 9px;
  cursor: default;
}

.donat__svg {
  margin-right: 15px;
}

.donat__txt {
  margin-bottom: 20px;
  max-width: 380px;
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: italic;
  font-size: 12px;
  line-height: 18px;
  color: #b2b2b2;
}

@media (max-width: 768px) {
  .donat .container {
    padding-top: 80px;
    padding-bottom: 95px;
    flex-direction: column-reverse;
    max-width: 380px;
  }
  .donat__txt {
    margin-bottom: 60px;
  }
  .donat__pic {
    margin-right: 0;
    transform: translateX(-60px);
  }
}
@media (max-width: 320px) {
  .donat .container {
    padding-top: 42px;
    align-items: center;
  }
  .donat__main {
    text-align: center;
    font-size: 25px;
    line-height: 32px;
  }
  .donat__bank {
    text-align: center;
  }
  .donat__digit {
    align-items: center;
    margin: 0 auto;
    max-width: 280px;
    font-size: 15px;
    line-height: 16px;
  }
  .donat__txt {
    margin: 20px auto 42px auto;
    margin-top: 20px;
    max-width: 280px;
  }
  .donat__pic {
    transform: translateX(5%);
  }
}
/* margin, padding */
/* reset default values */
/* display values */
/* fonts */
/* colors */
/* block's properties */
/* interactive */
/* basic fonts */
.footer {
  background: linear-gradient(270deg, rgb(33, 31, 32) 0%, rgb(91, 72, 58) 100%, rgb(38, 36, 37) 100%);
}

.footer .container {
  padding: 60px 40px 40px 40px;
  display: flex;
  background: 96% 98% no-repeat url("../assets/img/footer-puppy.png");
}

.footer__main {
  margin-bottom: 35px;
  font-family: "Lora", serif;
  font-weight: 400;
  font-size: 35px;
  font-style: normal;
  line-height: 45px;
  color: #545454;
  color: #ffffff;
}

.footer__left {
  margin-right: 160px;
  max-width: 278px;
}

.footer__right {
  max-width: 302px;
}

.footer__list__item {
  display: flex;
  align-items: center;
}

.footer__list__item__svg {
  margin-right: 20px;
}

.footer__list__item__link {
  font-family: "Lora", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 22px;
  color: #545454;
  color: #F1CDB3;
  letter-spacing: 1px;
  transition: all 0.3s ease-in-out;
}

.footer__list__item__link:hover {
  opacity: 0.5;
}

.footer__list__item:first-child {
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .footer .container {
    padding-top: 35px;
    padding-bottom: 22.4rem;
    justify-content: center;
    background-position: 50% 100%;
  }
  .footer__left {
    margin-right: 60px;
  }
}
@media (max-width: 320px) {
  .footer .container {
    padding: 30px 35px;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 57rem;
  }
  .footer__main {
    text-align: center;
    font-size: 25px;
    line-height: 32px;
    margin-bottom: 45px;
  }
  .footer__left, .footer__right {
    margin-right: 0;
  }
  .footer__left {
    margin-bottom: 40px;
  }
  .footer__right {
    margin-bottom: 30px;
  }
}
html {
  scroll-behavior: smooth !important;
  user-select: none;
}

/*# sourceMappingURL=style.css.map */
