@import '../_vars/vars';
@import '../_mixins/mixins';

.about {
  background-color: $white;
  background-size: 110%;
  .container {
    display: $flx;
    justify-content: center;
    margin-bottom: 90px;
  }

  &__main {
    padding-top: 90px;
    max-width: 360px;
    margin-bottom: $std;
    @include main();
    letter-spacing: 2px;
  }

  &__pic {
    margin-right: 135px;
    padding-top: 80px;
    transform: translateX(15px);
  }

  &__txt {
    margin-bottom: $std;
    max-width: 430px;
    font-family: $aria;
    font-weight: $regular;
    font-style: $norm;
    font-size: 15px;
    line-height: 24px;
    color: $color-xl;
  }
}

@media (max-width: 768px) {
  .about {

    .container {
      flex-direction: column-reverse;
      align-items: $ctr;
    }

    &__main {
      padding-top: 78px;
    }

    &__pic {
      margin-top: -25px;
      margin-right: 0;
      transform: translateX(0px);
    }
  }
}

@media (max-width: 320px) {
  .about {
    
    .container {
      margin-bottom: 42px;
    }

    &__main {
      text-align: $ctr;
      padding-top: 42px;
      font-size: $std;
      line-height: 32px;
    }
  }
}