@import '../_vars/vars';
@import '../_mixins/mixins';

* {
  box-sizing: border-box;
}

h1,
h2,
h4,
h3,
h5,
h6,
p {
  margin: $null;
}

ul {
  padding: $null;
}

li {
  list-style: $empty;
}

a {
  color: #000;
  text-decoration: $empty;
}

button {
  background: transparent;
  border-style: $empty;
}

body {
  background-image: linear-gradient(270deg, rgba(33,31,32,1) 0%, rgba(91,72,58,1) 100%, rgba(38,36,37,1) 100%);
  background-repeat: no-repeat;
  background-size: 100% 56.75rem;
  background-position: top center;
  margin: 0 auto;
  overflow-x: hidden;
  overflow-y: auto;
}

.container {
  max-width: $width;
  margin: 0 auto;
  padding: 0 40px;
}

.header {
  .container {
    display: $flx;
    padding-top: 30px;
    margin-bottom: 16em;
  }

  &__link {
    display: inline-block;
    margin-bottom: 8px;
    font-family: $geo;
    @include basic();
    font-size: 32px;
    color: $primary;
    letter-spacing: 2px;
  }

  &__txt {
    font-family: $aria;
    @include basic();
    font-size: 13px;
    color: $white;
    letter-spacing: 2px;
  }
}

@media (max-width: 1200px) {
  body {
    max-width: 100%;
  }

  .container {
    max-width: 1200px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 100%;
  }

  body {
    background-size: 100% 73.1rem;
    max-width: 768px;
  }

  .header {
    .container {
      padding: 30px;
      margin-bottom: 30px;
    }
  }
}

@media (max-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media (max-width: 320px) {
  .container {
    max-width: 320px;
    padding: 0 25px;
  }

  .our {
    .slider {
      &__list {
        li:nth-child(n+2) {
        display: none !important;
        } 
      }
    }
  }
}