@use '_vars';
@use '_mixins';

.cookie {
    @include mixins.cookie();

    .container {
      margin-bottom: vars.$ten;
      padding: vars.$offset;
      max-width: vars.$full;
      height: vars.$full;
      border-radius: 9px;
      background-color: vars.$black;
      opacity: 0.8;
    }

    &__txt {
      font-size: 16px;
      @include mixins.blackCookie();

      &__privacy {
        color: vars.$back;
        font-weight: 600;
      }
    }

    &__buttons {
      font-size: 14px;
      text-align: vars.$ctr;
      color: vars.$black;
      
      &__tap {
        padding: 5px vars.$ten;
        max-width: fit-content;
        font-family: vars.$lora;
        background-color: vars.$f4;
        border-radius: 3px;
        @include mixins.buttons();

        &:first-of-type {
          margin-right: vars.$offset;
        }
      }
    }
}

.change {
  &__box {
    @include mixins.cookie();
    &__btn {
      background-color: vars.$black;
      @include mixins.blackCookie();
      font-family: vars.$lora;
    }
  }
}

#change:hover {
  background-color: #363333;
}

#change:active {
  background-color: vars.$back;
  color: vars.$black;
}

.visible {
  transform: translateY(vars.$null);
}

.cookie--visible {
  transform: translateY(vars.$null);
}

@media (max-width: 480px) {
  .cookie {
    right: 10px;
  }
}