@use '_vars';
@use '_mixins';

.help {
  .container {
    max-width: 1280px;
    margin: vars.$aut();
    background-color: vars.$white;
    padding-top: 80px;
    padding-bottom: 40px;
    text-align: center;
  }

  &__main {
    margin-bottom: 55px;
    @include mixins.main();
    letter-spacing: 2px;
  }

  &__span {
    display: block;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;

    &__item {
      margin-bottom: 58px;
      margin-right: 25px;
      &:nth-child(n + 6) {
        margin-left: 50%;
      }

      &__img {
        cursor: default;
        margin-bottom: vars.$mid;
      }

      &__title {
        outline: 1px solid transparent;
        outline-offset: 3px;
        border-radius: 3px;
        cursor: default;
        transition: all .3s ease-in-out;
        @include mixins.temp();
        letter-spacing: 1px;
      }
    }
    
    .inner {
      display: vars.$flx;
      flex-direction: column;
      align-items: vars.$ctr;
      width: 210px;
      min-height: 113px;
    }
  }
}

@media(max-width: 1130px) {
  .help {
    .container {
      max-width: 1130px;
    }

    &__list {
      &__item {
        &:nth-child(n + 6) {
          margin-left: auto;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .help {
    .container {
      max-width: 768px;
      padding-right: 70px;
      padding-left: 70px;
      padding-bottom: 0;
    }

    &__list {
      grid-template-columns: repeat(3, minmax(135px, 1fr));
    }
  }
}

@media (max-width: 460px) {
  .help {
    .container {
      max-width: 460px;
      padding: 42px 15px 15px 42px;
    }

    &__main {
      @include mixins.minimal();
    }

    &__list {
      max-width: 320px;
      grid-template-columns: repeat(2, minmax(100px, 1fr));
      .inner {
        width: 100px;
        height: 87px;
      }

      &__item {
        margin-bottom: 30px;

        &__title {
          font-size: 15px;
          line-height: 16px;
        }

        &__img {
          margin-bottom: 20px;
          width: 50px;
          height: 50px;
        }
        &:not(:last-child) {
          margin-right: 30px;
        }
      }
    }
  }
}

@media (max-width: 320px) {
  .help {
    .container {
      max-width: 320px;
    }
  }
}
