@use '_vars.scss';
@use '_mixins.scss';

.modal-overlay {
    position: fixed;
    top: vars.$null;
    left: vars.$null;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .6);
    display: vars.$flx;
    justify-content: vars.$ctr;
    align-items: vars.$ctr;
    z-index: 2;
}

.popup {
    .container {
        padding: 15px;
        position: relative;
        max-width: 900px;
        max-height: 500px;
        display: vars.$flx;
        justify-content: space-between;
        border-radius: vars.$radius;
        background-color: vars.$f4;
    }

    &__btn {
        position: absolute;
        top: -52px;
        right: -52px;
        padding: 0;
        width: 52px;
        height: 52px;
        border: 2px solid vars.$primary;
        border-radius: vars.$hund;
        cursor: pointer;
        transition: all .3s ease-in-out;

        &:hover {
            background-color: vars.$hov;
        }

        &:active {
            background-color: #CC9767;
        }

        &__close {
            display: vars.$flx;
            justify-content: vars.$ctr;
            align-items: vars.$ctr;
            align-self: vars.$ctr;
        }
    }

    &__pic {
        margin-right: 25px;
        margin-top: auto;
    }

    &__info {
        max-width: 260px;
        align-items: vars.$ctr;
        &__title {
            margin-bottom: 10px;
            font-size: vars.$middle;
            font-weight: vars.$regular;
        }

        &__breed {
            margin-bottom: vars.$offset;
            font-size: vars.$offset;
            font-weight: vars.$regular;
        }

        &__desc {
            margin-bottom: 30px;
            font-weight: vars.$regular;
            font-size: 15px;
            line-height: 100%;
            letter-spacing: 1px;
        }

        &__list {
            padding-left: 10px;

            &__item {
                margin-bottom: 10px;
                padding-left: 10px;
                &::marker {
                    content: "• ";
                    color: vars.$primary;
                }

                &__span {
                    font-weight: 700;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .popup {
        .container {
            max-width: 630px;
            max-height: 350px;
        }

        &__info {
            &__title {
                font-size: vars.$offset;
            }

            &__desc {
                margin-bottom: vars.$ten;
            }
        }
    }
}

@media (max-width: 680px) {
    .popup {
        .container {
            flex-direction: vars.$col;
            max-height: fit-content;
        }

        &__btn {
            top: -30px;
            right: -30px;
            width: 30px;
            height: 30px;
        }

        &__info {
            &__list {
                display: none;
            }
        }
    }
}

@media (max-width: 360px) {
    .popup {
        .container {
            max-width: 240px;
        }

        &__pic {
            display: none;
        }
    }
}