@use '_vars.scss';
@use '_mixins.scss';

.modal-overlay {
    position: fixed;
    top: vars.$null;
    left: vars.$null;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .6);
    display: vars.$flx;
    justify-content: vars.$ctr;
    align-items: vars.$ctr;
    z-index: 2;
}

.popup {
    .container {
        padding: 15px;
        position: relative;
        max-width: 900px;
        max-height: 500px;
        display: vars.$flx;
        justify-content: space-between;
        border-radius: vars.$radius;
        background-color: vars.$f4;
    }

    &__btn {
        position: absolute;
        top: -52px;
        right: -52px;
        width: 52px;
        height: 52px;
        border: 2px solid vars.$primary;
        border-radius: vars.$hund;
        cursor: pointer;
        transition: all .3s ease-in-out;

        &:hover {
            background-color: vars.$hov;
        }

        &:active {
            background-color: #CC9767;
        }
    }

    &__pic {
        margin-right: 25px;
        margin-top: auto;
    }

    &__info {
        max-width: 260px;
        align-items: vars.$ctr;
        &__title {
            margin-bottom: 10px;
            font-size: vars.$middle;
            font-weight: vars.$regular;
        }

        &__breed {
            margin-bottom: vars.$offset;
            font-size: vars.$offset;
            font-weight: vars.$regular;
        }

        &__desc {
            margin-bottom: 30px;
            font-weight: vars.$regular;
            font-size: 15px;
            line-height: 100%;
            letter-spacing: 6%;
        }

        &__list {
            padding-left: 10px;

            &__item {
                margin-bottom: 10px;
                padding-left: 10px;
                &::marker {
                    content: "• ";
                    color: vars.$primary;
                }

                &__span {
                    font-weight: 700;
                }
            }
        }
    }
}