@use '_vars';
@use '_mixins';

.nav {
  margin-left: auto;

  &__list {
    display: vars.$flx;

    &__item {
      position: relative;
      transition: all .3s ease-in-out;

      &:not(:last-child) {
        margin-right: 25px;
      }

      &::after {
        content: '';
        position: absolute;
        display: block;
        opacity: 0;
        bottom: -3px;
        right: 0;
        width: 0%;
        height: 3px;
        background-color: vars.$primary;
      }

      &:hover::after {
        width: 100%;
        opacity: 1;
        transition: all .5s ease-in-out;
      }
      
      &__link {
          font-family: vars.$merry;
          @include mixins.basic();
          line-height: vars.$line;
          font-size: 14px;
          color: vars.$white;
          letter-spacing: vars.$one;
          cursor: pointer;
      }
    }
  }
}

@media (max-width: 768px) {
  .nav {
    transform: translateX(100%);
    transition: all, 0.3s ease-in-out;
  }

  #menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 320px;
    height: 100vh;
  }

  .open {
    background-color: #292929;
    transition: transform 0.3s ease-in-out;
    will-change: transform;
    overflow-y: auto;
  }

  nav.open {
    transform: translateX(0);
  }

  .nav__list {
      @include mixins.navList();
      &__item {
        @include mixins.navItem();
        &__link {
          @include mixins.navLink();
        }
      }
    }

  .burger {
    display: block;
    position: relative;
    margin-left: auto;
    width: 30px;
    height: 22px;
    cursor: pointer;
    transform-origin: 50% 50%;
    transition: all 0.3s ease-in-out; 

    &__line {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #F1CDB3;
      &:nth-child(2) {
        top: 50%;
        height: 0.5px;
      }
      &:last-child {
        top: 100%;
      }
    }
  }

  .burger-active {
    transform: rotate(90deg);
  }
}

@media (prefers-reduced-motion: reduce) {
  .burger, 
  #menu { 
    transition: none; 
  }
}
