@use '_vars';
@use '_mixins';

.notonly {
  .container {
    display: vars.$flx;
  }

  &__article {
    margin-bottom: vars.$em;
  }

  &__title {
    margin-bottom: vars.$standart;
    @include mixins.main();
    font-size: 44px;
    line-height: 57px;
    color: vars.$white;
  }

  &__txt {
    margin-bottom: vars.$standart;
    max-width: 460px;
    @include mixins.basic();
    font-family: vars.$merry;
    line-height: vars.$line;
    letter-spacing: 1px;
    color: vars.$grey;
  }

  &__link {
    display: block;
    padding: 15px 45px;
    max-width: fit-content;
    min-height: 52px;
    background-color: vars.$primary;
    border-radius: 9px;
    font-size: 17px;
    line-height: 22px;
    color: vars.$black;
    letter-spacing: 2px;
    transition: all .3s ease-in-out;
  }

  &__link:hover {
    background-color: vars.$hov;
  }

  &__link:active {
    background-color: #CC9767;
  }

  &__pic {
    position: absolute;
    top: 11.2rem;
    right: 1rem;
    z-index: -1;
  }
}

@media (min-width: 769px) and (max-width: 1068px) {
  .notonly {
    &__txt {
      padding: 10px;
      @include mixins.backShadow();
      transition: all 0.3s;
    }
  }
}

@media (max-width: 768px) {
  .notonly {
    min-height: 63.7rem;

    .container {
      flex-direction: vars.$col;
    }

    &__article {
      margin-bottom: vars.$hund;
      align-self: vars.$ctr;
    }

    &__link {
      margin: vars.$aut;
    }

    &__pic {
      top: 36rem;
      right: 2rem;
    }
  }
}

@media (max-width: 600px) {
  .notonly {
    &__pic {
      top: 47rem;
    }
  }
}

@media (max-width: 320px) {
  .notonly {
    min-height: 43.6rem;
    
    &__title {
      text-align: vars.$ctr;
      font-size: 25px;
      line-height: 32px;
    }

    &__txt {
      text-align: vars.$ctr;
      font-size: 15px;
    }
  }
}