/* margin, padding */
$offset: 20px;
$null: 0px;
$standart: 42px;
$em: 15.3em;
$std: 25px;
$mid: 30px;
$pad: 15px 45px;
$aut: 0 auto;
$six: 60px;
$one: 1px;
$between: space-between;
$lineHeight: 32px;

/* reset default values */
$empty: none;
$full: 100%;
$half: 50%;

/* display values */
$flx: flex;
$col: column;
$ctr: center;

/* fonts */
$lora: 'Lora', serif;
$merry: 'Merriweather', serif;
$regular: 400;
$norm: normal;
$middle: 35px;
$line: 24px;

/* colors */
$primary: #D7BDA6; 
$white: #fff;
$back: #B7957F;
$grey: #C2C0C0;
$black: #212020;
$dark: #5E5D5D;
$color-xl: #787272;
$slider-back: #F5F2F2;
$fa: #F2EDED;
$bank: #BDBDBD;
$f4: #F4F2F2;

/* block's properties */
$width: 1280px;
$hund: 100px;
$card: 270px;
$radius: 9px;

/* interactive */
$hov: #E1C19B;
$active: #CC9767;
