/* margin, padding */
/* reset default values */
/* display values */
/* fonts */
/* colors */
/* block's properties */
/* interactive */
/* basic fonts */
* {
  box-sizing: border-box;
}

h1,
h2,
h4,
h3,
h5,
h6,
p {
  margin: 0px;
}

ul {
  padding: 0px;
}

li {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}

button {
  background: transparent;
  border-style: none;
}

body {
  background-image: linear-gradient(90deg, rgb(45, 35, 28) 0%, rgb(105, 75, 55) 100%);
  background-repeat: no-repeat;
  background-size: 100% 56.75rem;
  background-position: top center;
  margin: 0 auto;
  overflow-x: hidden;
  overflow-y: auto;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
}

.header .container {
  display: flex;
  padding-top: 30px;
  margin-bottom: 16em;
}
.header__title {
  margin-top: 0;
  margin-bottom: 10px;
}
.header__link {
  display: inline-block;
  margin-right: 30px;
  margin-bottom: 8px;
  font-family: "Lora", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
  color: #D7BDA6;
  letter-spacing: 2px;
}
.header__txt {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  color: #fff;
  letter-spacing: 2px;
}

@media (max-width: 1200px) {
  body {
    max-width: 100%;
  }
  .container {
    max-width: 1200px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 100%;
  }
  .header .container {
    padding: 30px;
    margin-bottom: 30px;
  }
  body {
    background-size: 100% 73.1rem;
    max-width: 768px;
  }
  .body-lock::before {
    content: "";
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    backdrop-filter: brightness(70%);
    transition: all 0.3s ease-in-out;
  }
}
@media (prefers-reduced-motion: reduce) {
  .body-lock {
    transition: none;
  }
}
@media (max-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media (max-width: 320px) {
  .container {
    max-width: 320px;
    padding: 0 25px;
  }
  .our .slider__list li:nth-child(n+2) {
    display: none !important;
  }
}
.nav {
  margin-left: auto;
}
.nav__list {
  display: flex;
}
.nav__list__item {
  position: relative;
  transition: all 0.3s ease-in-out;
}
.nav__list__item:not(:last-child) {
  margin-right: 25px;
}
.nav__list__item::after {
  content: "";
  position: absolute;
  display: block;
  opacity: 0;
  bottom: -3px;
  right: 0;
  width: 0%;
  height: 3px;
  background-color: #D7BDA6;
}
.nav__list__item:hover::after {
  width: 100%;
  opacity: 1;
  transition: all 0.5s ease-in-out;
}
.nav__list__item__link {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  font-size: 14px;
  color: #fff;
  letter-spacing: 1px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .nav {
    transform: translateX(100%);
    transition: all, 0.3s ease-in-out;
  }
  #menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 320px;
    height: 100vh;
  }
  .open {
    background-color: #292929;
    transition: transform 0.3s ease-in-out;
    will-change: transform;
    overflow-y: auto;
  }
  nav.open {
    transform: translateX(0);
  }
  .nav__list {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
  }
  .nav__list__item {
    width: -moz-fit-content;
    width: fit-content;
  }
  .nav__list__item__link {
    font-size: 30px;
    color: #CDCDCD;
    transition: transform 0.3s ease-in-out;
  }
  .burger {
    display: block;
    position: relative;
    margin-left: auto;
    width: 30px;
    height: 22px;
    cursor: pointer;
    transform-origin: 50% 50%;
    transition: all 0.3s ease-in-out;
  }
  .burger__line {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #F1CDB3;
  }
  .burger__line:nth-child(2) {
    top: 50%;
    height: 0.5px;
  }
  .burger__line:last-child {
    top: 100%;
  }
  .burger-active {
    transform: rotate(90deg);
  }
}
@media (prefers-reduced-motion: reduce) {
  .burger,
  #menu {
    transition: none;
  }
}
.footer {
  background: linear-gradient(90deg, rgb(45, 35, 28) 0%, rgb(105, 75, 55) 100%);
}
.footer .container {
  padding: 60px 40px 40px 40px;
  display: flex;
  background: 96% 98% no-repeat url("../img/footer-cat.png");
}
.footer__main {
  margin-bottom: 35px;
  font-family: "Lora", serif;
  font-weight: 400;
  font-size: 35px;
  font-style: normal;
  line-height: 45px;
  color: #5E5D5D;
  color: #fff;
}
.footer__left {
  margin-right: 160px;
  max-width: 278px;
}
.footer__right {
  max-width: 302px;
}
.footer__list__item {
  display: flex;
  align-items: center;
}
.footer__list__item__svg {
  margin-right: 20px;
}
.footer__list__item__link {
  font-family: "Lora", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 22px;
  color: #5E5D5D;
  color: #D7BDA6;
  letter-spacing: 1px;
  transition: all 0.3s ease-in-out;
}
.footer__list__item__link:hover {
  opacity: 0.5;
}
.footer__list__item:first-child {
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .footer .container {
    padding-top: 35px;
    padding-bottom: 22.4rem;
    justify-content: center;
    background-position: 50% 100%;
  }
  .footer__left {
    margin-right: 60px;
  }
}
@media (max-width: 320px) {
  .footer .container {
    padding: 30px 35px;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 57rem;
  }
  .footer__main {
    text-align: center;
    font-size: 25px;
    line-height: 32px;
    margin-bottom: 45px;
  }
  .footer__left, .footer__right {
    margin-right: 0;
  }
  .footer__left {
    margin-bottom: 40px;
  }
  .footer__right {
    margin-bottom: 30px;
  }
}
html {
  scroll-behavior: smooth;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

body {
  background: transparent;
  margin: 0 auto;
}

.header .container {
  display: flex;
  padding: 30px 40px;
  margin-bottom: 0;
}
.header__link {
  color: #5E5D5D;
}
.header__txt {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  color: #212020;
  letter-spacing: 1px;
}

.nav {
  margin-left: auto;
}
.nav__list {
  display: flex;
}
.nav__list__item {
  position: relative;
  transition: all 0.3s ease-in-out;
}
.nav__list__item:not(:last-child) {
  margin-right: 25px;
}
.nav__list__item:first-child {
  cursor: pointer;
}
.nav__list__item:first-child::after {
  opacity: 0;
}
.nav__list__item::after {
  content: "";
  position: absolute;
  display: block;
  opacity: 0;
  bottom: -3px;
  right: 0;
  width: 0%;
  height: 3px;
  background-color: #D7BDA6;
}
.nav__list__item:hover::after {
  opacity: 1;
  width: 100%;
  transition: all 0.5s ease-in-out;
}
.nav__list__item__link {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  font-size: 15px;
  color: #212020;
  letter-spacing: 1px;
  cursor: pointer;
}

.our {
  max-width: 100%;
  background-color: #F5F2F2;
  background-size: 100%;
}
.our .container {
  text-align: center;
  padding: 80px 40px 95px;
}
.our__title {
  margin: 0 auto;
  margin-bottom: 60px;
  max-width: 400px;
  font-family: "Lora", serif;
  font-weight: 400;
  font-size: 35px;
  font-style: normal;
  line-height: 45px;
  color: #5E5D5D;
  letter-spacing: 2px;
}

/* PAGINATION */
.pagination {
  position: relative;
  margin: 0 auto;
  margin-bottom: 0;
  max-width: 1200px;
}
.pagination__list > * {
  min-width: 270px;
  overflow-x: hidden;
}
.pagination__list {
  margin: 0;
  margin-bottom: 65px;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
.pagination__list__item {
  max-width: 270px;
  height: 480px;
  display: flex !important;
  flex: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 9px;
  transition: all 0.3s ease-in-out;
}
.pagination__list__item:not(:last-child) {
  margin-right: 0;
}
.pagination__list__item:hover {
  transform: scale(1.1);
}
.pagination__list__item__card {
  max-width: 270px;
  min-height: 435px;
  background-color: #F2EDED;
  border-radius: 9px;
  text-align: center;
  transition: all 0.3s ease-in-out;
}
.pagination__list__item__card__btn {
  max-width: 100%;
}
.pagination__list__item__card:hover {
  background-color: #F4F2F2;
  box-shadow: 1px 1px 3px #CC9767;
}
.pagination__list__item__card__pic__img {
  margin-bottom: 30px;
  max-width: 100%;
  border-top-right-radius: 9px;
  border-top-left-radius: 9px;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 768px) {
  .pagination__list__item__card__pic__img {
    margin-bottom: 25px;
  }
}
.pagination__list__item__card__name {
  margin-bottom: 30px;
  font-family: "Lora", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 22px;
  color: #5E5D5D;
  letter-spacing: 1px;
}
.pagination__list__item__card__link {
  display: inline-block;
  padding: 15px 45px;
  max-width: 187px;
  border-radius: 9px;
  border: 1px solid #D7BDA6;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-weight: 400;
  font-style: normal;
  font-family: "Lora", serif;
  font-size: 17px;
  line-height: 22px;
  color: #212020;
}
.pagination__list__item__card__link:hover {
  background-color: #E1C19B;
}
.pagination__list__item__card__link:active {
  background-color: #CC9767;
}
.pagination__list__item__card:hover img {
  background-color: #C2C0C0;
}
.pagination__controls {
  display: flex;
  justify-content: center;
}
.pagination__controls__digit {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 100px;
  width: 52px;
  height: 52px;
  font-family: "Lora", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 22px;
  color: #5E5D5D;
  margin-right: 20px;
  background-color: #D7BDA6;
}
.pagination__controls__arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 100px;
  width: 52px;
  height: 52px;
  border-color: #D7BDA6;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.pagination__controls__arrow:hover {
  background-color: #D7BDA6;
}
.pagination__controls__arrow:active {
  background-color: #CC9767;
}
.pagination__controls__prev, .pagination__controls__next {
  margin-right: 15px;
}
.pagination__controls__double-prev {
  margin-right: 20px;
}
.pagination__controls {
  /* if disabled */
}
.pagination__controls .disabled,
.pagination__controls .disabled:hover,
.pagination__controls .disabled:active {
  border-color: #C2C0C0;
  background-color: transparent;
  cursor: default;
}
.pagination__controls .disabled svg path {
  fill: #C2C0C0;
}

/* end disabled */
/* animate pagination */
.pets__list {
  transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
  opacity: 1;
  transform: translateX(0);
}

.pets__list.fade-out {
  opacity: 0;
  transform: translateX(20px);
}

.footer .container {
  background: 96% 98% no-repeat url("../img/footer-cat.png");
}

@media (min-width: 768px) and (max-width: 1220px) {
  .our .container {
    max-width: 768px;
  }
  .our .pagination__list {
    grid-template-columns: repeat(2, minmax(270px, 1fr));
  }
}
@media (max-width: 768px) {
  .header .container {
    padding: 30px;
  }
  .body-lock::before {
    content: "";
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    backdrop-filter: brightness(70%);
    transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .nav__list {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
  }
  .nav__list__item {
    width: -moz-fit-content;
    width: fit-content;
  }
  .nav__list__item__link {
    font-size: 30px;
    color: #CDCDCD;
    transition: transform 0.3s ease-in-out;
  }
  .burger {
    z-index: 2;
  }
  .burger__line {
    background-color: #D7BDA6;
  }
  .burger-active .burger__line {
    background-color: #F1CDB3;
  }
  #menu {
    z-index: 1;
  }
  .our .container {
    padding-bottom: 75px;
  }
  .our__title {
    margin-bottom: 30px;
  }
  .our .pagination__list {
    grid-template-columns: repeat(2, minmax(270px, 1fr));
  }
  .our .pagination__controls {
    margin-top: -30px;
  }
  .footer .container {
    padding-top: 35px;
    padding-bottom: 22.4rem;
    justify-content: center;
    background-position: 50% 100%;
  }
  .footer__left {
    margin-right: 60px;
  }
}
@media (max-width: 661px) {
  .our .container {
    padding: 42px 25px 42px;
  }
  .our .pagination {
    max-width: 290px;
  }
  .our .pagination__list {
    grid-template-columns: repeat(1, 1fr);
  }
  .our .pagination__controls {
    transform: translateX(-11px);
  }
  .our .pagination__controls__double-prev {
    margin-right: 10px;
  }
  .our .pagination__controls__prev, .our .pagination__controls__next {
    margin-right: 10px;
  }
  .our .pagination__controls__digit {
    margin-right: 10px;
  }
  .our .pagination #woody,
  .our .pagination #jennifer {
    display: grid !important;
  }
  .footer .container {
    max-width: 320px;
    padding: 30px 35px;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 57rem;
  }
  .footer__main {
    text-align: center;
    font-size: 25px;
    line-height: 32px;
    margin-bottom: 45px;
  }
  .footer__left, .footer__right {
    margin-right: 0;
  }
  .footer__left {
    margin-bottom: 40px;
  }
  .footer__right {
    margin-bottom: 30px;
  }
}/*# sourceMappingURL=pets.css.map */